html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.auto-hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.auto-hide-scrollbar:hover {
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}